<?xml version="1.0"?>
<robot name="RedCup_800_tex">
  <link name="base_link">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <mass value="0.00398645106017"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="RedCup_800_tex_visual.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="RedCup_800_tex_collision.obj"/>
      </geometry>
    </collision>
  </link>
</robot>
